body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.nav-link {
  transition: color 0.3s;
}

.nav-link:hover {
  font-weight: bold;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #a7f3d0; /* Green-200 for underline */
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}